body {
  background-color: #111;
  color: #0f0;
  font-family: monospace;
  text-align: center;
}

#game {
  font-size: 16px;
  line-height: 1.2;
  display: inline-block;
  text-align: left;
  background: black;
  padding: 10px;
  border: 2px solid #0f0;
}

body {
  background: #000;
  color: #0f0;
  font-family: monospace;
  text-align: center;
}

.menu, .howto {
  margin-top: 50px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background: #111;
  color: #0f0;
  border: 1px solid #0f0;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0f0;
  color: #000;
}

.howto-link {
  position: fixed;
  top: 10px;
  left: 10px;
  background: #111;
  color: #0f0;
  padding: 5px 10px;
  border: 1px solid #0f0;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}

.howto-link:hover {
  background: #0f0;
  color: #000;
}

span.wall   { color: gray; }
span.player { color: blue; font-weight: bold; }
span.stairs { color: orange; }
span.enemy  { color: rgb(254, 0, 0); }
span.chaser { color: darkred; font-weight: bold; }
span.item   { color: gold; }
.trap             { color: rgb(255, 0, 255); font-weight: bold; }
.torch            { color: #ff8800; font-weight: bold; }


.modal {
  display: none; /* 初期は非表示 */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.modal-content {
  background: #fff;
  padding: 20px;
  margin: 10% auto;
  width: 60%;
  border-radius: 8px;
  text-align: center;
}
